/* Header.css */

/* For large screens */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.pleft {
  display: flex;
  align-items: center;
}

.phoneIcon {
  margin-left: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px; /* Adjust margin as needed */
}

.contact-text {
  display: flex;
  flex-direction: row; /* Display phone number and email on the same row */
  margin-top: 5px; /* Adjust margin as needed */
}

.phoneNo,
.email {
  margin-right: 10px; /* Adjust margin as needed */
  display: flex; /* Align icon and text on the same line */
  align-items: center; /* Align icon and text on the same line */
}

.email svg {
  margin-right: 5px;
}

.firight {
  display: flex;
}

.facebooklogo,
.instalogo {
  font-size: 24px;
  margin-right: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Center content in the middle */
  }

  .contact-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Center content in the middle */
  }
 
}
